

body {
    background-color: rgb(182, 227, 216);
}

.card {
    text-align: center;
    background-color: lightgray;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
}

#pokemon-container {
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

.card .image-container {
    background-color: rgb(255, 255, 255, 0.6);
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.card .image-container img {
    margin-top: 20px;
    max-width: 90%;
}

footer {
    background-color: white;
    border-radius: 5px;
    font-size: 1em;
    padding: 5px 10px;
    letter-spacing: 1px;
}

h2 {
    letter-spacing: 1px;
}

.content p {
    letter-spacing: 1px;
}

h1 {
    font-family: 'Pokemon Solid', sans-serif;
    color: yellow;
    text-align: center;
    text-shadow: 2px 2px 0px blue;                                             
}

#button-container {
    text-align: center;
}

#reset {
    border-radius: 15px;
    font-size: 18px;
    box-shadow: 0 9px 15px rgba(100, 100, 100, 0.5);
    padding: 16px;
    border-radius: 12px;
    text-align: center;
    background-color: red;
    color: white;
    margin: 0 20px;
    cursor: pointer;
    font-family: 'Pokemon Solid', sans-serif;
}

#reset:active {
    background-color: red;
    box-shadow: 0 1px #666;
    transform: translateY(4px);
}

#get-pokemon {
    font-size: 18px;
    border-radius: 50%;
    padding: 35px 15px;
    cursor: pointer;
    font-family: 'Pokemon Solid', sans-serif;
    color: red;
    box-shadow: 0 9px 15px rgba(100, 100, 100, 0.5);
}

#get-pokemon:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.material-icons {
    cursor: pointer;
    margin-top: 20px;
    color: white;
}

.material-icons:hover {
    color: lightcoral;
}